{% extends 'establishment/base.html' %}
{% block title %} mJuke - Player - Home {% endblock %}
{% block content %}

    <h1>Welcome to establishment's home page... Yay!!</h1>

    <a href="../">Click here for users page</a>

    <a id="library" href="library/">Manage music library</a>

    {% if user.is_authenticated %}

        <a href="/establishment/accounts/logout/">logout</a>
        <a href="/establishment/accounts/edit/">Edit account</a>

    {% else %}

        <a href="/establishment/accounts/login/">login</a>

    {% endif %}

{% endblock %}