{% extends 'establishment/base.html' %}
{% block title %} mJuke - Player - Home {% endblock %}
{% block content %}

    <div id="content-area" class="row">
        <section id="music-manager" class="col-sm-4">
            <h2>Manage Here</h2>
            <ul class="list-group">
                <li class="list-group-item"><a id="library" href="library/"><span
                        class="glyphicon glyphicon-plus"></span> Manage Music</a></li>
                <li class="list-group-item"><a href="#"><span class="glyphicon glyphicon-plus"></span> Manage QR
                    Code</a></li>
                <li class="list-group-item"><a href="#"><span class="glyphicon glyphicon-plus"></span> Billing
                    Report</a></li>
                <li class="list-group-item"><a href="#"><span class="glyphicon glyphicon-plus"></span> Statistics
                    Overview</a></li>
            </ul>
        </section>
        <section class="col-sm-4">
            <h2>Playlist</h2>
            <div class="row song">
                <div id="songImage" class="col-sm-3"></div>
                <div class="col-sm-9 details">
                    <div class="row">
                        <div id="songTitle" class="col-sm-offset-2 col-sm-10"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-right"><small>By</small></div>
                        <div id="songArtist" class="col-sm-10"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-right"><small>On</small></div>
                        <div id="songAlbum" class="col-sm-10"></div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 5px;">
                <audio id="player" src="" controls preload></audio>
            </div>
            <ul id="queue" class="list-group" >
                <li class="list-group-item">Playlist is empty</li>
            </ul>            
        </section>
        <section id="stats" class="col-sm-4">
            <h2>Stats Snaps</h2>

            <div>
                <img src="#">
            </div>
        </section>
    </div>
    <div style="background:#666;padding-top: 20px;">
        <footer>
            <div class="row">
                <section class="col-sm-4">
                    <p style="margin-left:20px;">Footer Section 1</p>
                </section>
                <section class="col-sm-4">
                    <p>Footer Section 2</p>
                </section>
                <section class="col-sm-4">
                    <p>Footer Section 3</p>
                </section>
            </div>
        </footer>
    </div>
    <!-- Audio player plugin-->
    <script src="http://api.html5media.info/1.1.6/html5media.min.js"></script>

{% endblock %}