<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">QR code Management</h4>
        </div>
        <div class="modal-body">
            <form method="post" role="form" class="form-horizontal" action="{% url 'qr-code' %}">
                {% for field in form.visible_fields %}
                    <div id="div_{{ field.html_name }}"
                         class="form-group{% if field.errors %} has-error{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="text-muted pull-right">
                            <small>{{ field.help_text }}</small>
                        </div>
                        <div class="help-block">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% csrf_token %}
            </form>
            {% if userHasCode %}
                {% for usrQrCode in usrQr %}
                    <b>Previous QR code</b><br/>
                    <span>Expire date/time: {{ usrQrCode.expiredOn }}</span><br/>
                    <span>Url: <a href="{{ url }}" target="blank">{{ url }}</a></span>
                    <img src="/media/qrCodes/{{ account.id }}_{{ usrQrCode.hasCode }}.jpg">
                {% endfor %}
            {% endif %}
        </div>
        <div class="modal-footer" style=" margin-top: 0px;">
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-default" id="qrSave">Save</button>
        </div>
    </div>
</div>