@media screen and (min-width: 768px)
{
    #libraryModal .modal-dialog { width: 600px; }
    #libraryAddModal .modal-dialog { width: 550px; }
    #libraryEditModal .modal-dialog { width: 475px; }
    #libraryRemoveModal .modal-dialog { width: 450px; }
	
	#manageQR .modal-dialog { width: 450px; }

    #editAccountInfoModal .modal-dialog { width: 450px; }
    #editOtherModal .modal-dialog { width: 450px; }
    #changeUsernameModal .modal-dialog { width: 450px; }
    #changePasswordModal .modal-dialog { width: 450px; }
}
[class^="fa-"]:before, 
[class*=" fa-"]:before { font-family:FontAwesome!important; }

i[class^="fa-"],
i[class^="fa-"] { font-style:normal; }

html, body { background:#ecf0f1; }
header { background: orange; height: 4em; padding: 10px; border-bottom: 1px solid gray; }
footer { color:white; }
h1 { margin:0 0 0 15px; color:#428bca; }

ul.messages li { list-style-type: none; }
ul.messages li.info { color: #ffffff; background-color: green; display: inline-block; }
ul.messages li.error { color: #ffffff; background-color: red; display: inline-block; }
ul.errorlist li { color: red; }

#logo { width: 10em; height: 10em; background: red; text-align: center; }
#content-area { margin-left: 0px; padding-top:30px; }

.song { border-radius:3px; background:#fff; border: 1px solid #ddd; margin:0 0 10px 0; }
.song .details { padding:7px; }
.song .details .row { padding:2px 0; }

#songImage img { max-width:100%; max-height:150px; padding: 15px 0; }
#songImage span { line-height: 85px; font-size: 3em; margin: 0 auto; display:block; }

#player { width:100%; }

#queue span.title { display:inline-block; max-width:80%; }

#uploader { display:inline-block; text-align:center; width:100%; }
#uploader * { border-radius:3px; }
#uploader .qq-upload-button { display:inline-block; width:auto; padding:10px 20px; }
#uploader .qq-upload-list li { margin-top:3px; }
#uploader .qq-upload-drop-area span { margin-top:-11px; }
