body {
    padding-top:60px;
}

#nowplaying {

    padding-left: 17px;
    padding-bottom: 15px;
    padding-top:15px;
    font-size: 20px;
}

.upvote-button,
.downvote-button { margin-right:5px; }
.list-group-item { line-height:35px; }

.badge { margin-top: 7px; margin-right: 20px; }

