
                <div class="result-header-container">
                    <button class="btn btn-style btn-large btn-primary pull-right" type="button" id="close-searchResults">Close</button>
                    <h3>Search results for ' {{ query }} '</h3>

                </div>


                <ul id="resultList" class="list-group">


                    {% for song in object_list %}

                       <li class="list-group-item">
                           <button class="btn btn-success btn-lg btn-style upvote-button pull-right" {{ ableToVote|yesno:",disabled" }} type='button' id="{{ song.id }}" value="upvote" ><span class="glyphicon glyphicon-plus"></span></button>
                            <span class="title"><div> {{ song.title }}</div><div>{{ song.artist }}</div></span>
                       </li>

                    {% endfor %}
                </ul>
